@model IEnumerable<NetMVCLab07.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_Admins.cshtml";
}

<h1>Danh mục sản phẩm</h1>

<div class="row">
    <form action="" method="post" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="keyword">Tìm theo tên loại</label>
            <input class="form-control" name="name" id="keyword" placeholder="Nhập tên cần tìm" />
        </div>
        <button type="submit" class="btn btn-default mr-1"><i class="fas fa-search"></i></button>
        <a asp-action="Create" class="btn btn-primary"><i fas fa-plus></i>Thêm mới</a>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        <img src="@item.Image" alt="" width="50px" height="50px">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

